version: '3.8'

services:
  # frontend Service (Vue.js)
  nexus-ui:
    container_name: nexus-ui
    image: nexus-ui
    build:
      context: ../nexus-ui # 상위 폴더의 UI 프로젝트 참조
      dockerfile: Dockerfile
    restart: always
    # hot reload를 위해 소스 코드 마운트
    ports:
      - "8081:80"

  # 2. backend(Spring Boot) - 부하 분산을 위해 2개로 복제
  nexus-backend:
    build:
      context: ../nexus-backend
      dockerfile: Dockerfile
    # 중요: 외부에 포트를 노출하지 않고, 내부 통신만 가능하도록 'expose' 사용
    # 4000번 사용
    environment:
      - SERVER_PORT=4000
    expose:
      - "4000"
    # environment:
    # # DB 컨테이너 이름(db)을 사용하여 접속 주소 설정
    #   - DB_URL=jdbc:mysql://db:3306/mydb
    #   - DB_USER=root
    #   - DB_PASS=secret
    # 로드밸런싱 2개
    deploy:
      replicas: 2  # ⭐ 핵심: 백엔드 컨테이너를 2개 띄움
    # 같은 서버 위에서 동작하게 하기위한 host네임 설정 
    extra_hosts:
      - "host.docker.internal:host-gateway" # 호스트 IP 맵핑
    restart: always
